{{- /* Comments area start */ -}}
<script src="https://giscus.app/client.js"
        data-repo="mrhaydendp/mrhaydendp.github.io"
        data-repo-id="R_kgDOI5otaA"
        data-category="General"
        data-category-id="DIC_kwDOIscLsc4CTUhu"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{{- /* Comments area end */ -}}
